<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ticket.type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @ticket.order %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @ticket.duedate %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
